# Compile this file for changes to take effect:
# pip-compile requirements.in >> requirements.txt


django<5
dj-database-url
django-storage-url
whitenoise
easy-thumbnails

boto3
psycopg2
uwsgi

# key requirements for django CMS
django-cms>=4.1.0
djangocms-versioning>=2.0.0
djangocms-alias>=2.0.0
# optional, but used in most projects
djangocms-admin-style>=2.0



django-classy-tags
django-sekizai

# the default CKEditor - optional, but used in most projects
djangocms-text-ckeditor>=5.1.2

# some content plugins - optional, but used in most projects
# djangocms-link>=3.0,<4.0  # Only if not using djangocms-frontend
djangocms-icon
djangocms-style
djangocms-googlemap
djangocms-video
djangocms-file
djangocms-picture

# optional django CMS Frontend modules
djangocms-frontend!=1.2.1
#Auto Hyphenate Text
djangocms-snippet
djangocms-attributes-field
djangocms-transfer
djangocms-history
# Django Filer - optional, but used in most projects (alpha) - already implicitly installed through djangocms-file
# https://github.com/django-cms/django-filer/archive/refs/tags/2.1.1.zip#egg=django-filer

pip-tools  # needed for compilation of this file into requirements.txt, see start of file
pyzotero
hs_restclient
hsclient
bs4
pytz
