<!-- {% extends CMS_TEMPLATE %} -->
 
{% load cms_tags sekizai_tags %}


{% addtoblock "js" %}
<script>
  console.log("hey")
    function fetchPublications() {
  // Assuming your Django server is running on localhost:8000
  // Update the URL if your setup is different or if you are using a production server
  fetch("/publications-api/")
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json(); // Assuming the response is JSON
    })
    .then(data => {
      console.log(data); // Do something with the data
      // For example, you could iterate over the data and append it to an element in your HTML
    })
    .catch(error => {
      console.error('There was a problem with the fetch operation:', error);
    });
}

</script>

{% endaddtoblock %}

{% addtoblock "css" %}
<style>
    
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

    .csl-entry {
        word-wrap: break-word;
        margin: 0 !important;
    }
    .csl-entry,
    .csl-entry * {
        box-sizing: content-box;
    }
    .csl-bib-body{
        line-height: 2; 
        padding-left: 1em; 
        text-indent:-1.5em !important;
        padding-bottom:0.5em;
    }
    .wrapper-publication-set{
        color: #1c1e21;
        font-size: 16px;
    }
    .year-style{
        padding-top: 1rem;
    }

</style>
{% endaddtoblock %}

{% block content %}
    
        <p>No publications found</p>
    

{% endblock %}



