
{% load sekizai_tags static cms_tags %}
<head>
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

{% addtoblock "js" %}
    <script>
        // Define the data you want to send. Example data shown here:
        const getCSRFToken = () => {
            // Attempt to retrieve the CSRF token from the meta tag
            const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            return token;
        }

        // total remote publications count initialized to -1
        //let total_publications = -1;
        
        
        // get the local publications count from the plugin instance
        let LocalPublicationsObject = JSON.parse(JSON.stringify({{ instance.publications | safe }}));
        console.log(LocalPublicationsObject);
        let totalLocalPublications = Object.values(LocalPublicationsObject).reduce((sum, currentValue) => {
            return sum + currentValue.length;
        }, 0);
        
        // get the plugin instance ID
        let instanceID = "{{ instance.id | safe }}";
        
        // create a request data object for the API to get the items count and the items if needed
        const requestData = {
            api_key: "{{ instance.api_key | safe }}",
            library_id: "{{ instance.library_id | safe }}",
            library_type: "{{ instance.library_type | safe }}",
            collection_id: "{{ instance.collection_id | safe }}",
        };

        
        const url_item_count = "{% url 'get-items-count' %}"; //url for items count
        const url = "{% url 'zotero-publications-api' %}"; // url for items retrieval
        const init_pubs_url = "{% url 'init-publications' %}";
    </script>
    <script type="module" src='{% static "js/publications.js" %}'></script>
{% endaddtoblock %}

{% addtoblock "css" %}
    <link href="{% static "css/publications.css" %}" rel="stylesheet" />

{% endaddtoblock %}

{% block content %}
    <div id="publications-html" class="wrapper-publication-set"></div>
    <div id="placeholder-publications" class="random">

{% endblock %}
