<div class="card border-light mb-3 w-100" style="max-width:900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ instance.image }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title card-h5">{{ instance.title }}</h5>
          <p class="card-subtitle mb-2 text-muted fst-italic">{{ instance.subtitle }}</p>
          <p class="card-text d-inline-block text-truncate card-p" style="max-width:300px;">{{ instance.description }}</p>
        </div>
      </div>
    </div>
  </div>