{% load cms_tags sekizai_tags %}

{% addtoblock "css" %}
<style>
  :root {
    --image-width: 200px;
    --image-height: 200px;
  }

  .img-tile{
    object-fit: cover;
  }

  .name{
    width: 80%;

    text-overflow: ellipsis;
    margin-bottom: 12px;
    cursor: pointer;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
  }
  .name:hover{
      overflow: visible; 
      white-space: normal;
      height:auto;  /* just added this line */
  }
  .hydrolearn_module{
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.125), inset 0 0 0 1px rgba(255,255,255,0.75);
  }


</style>
{% endaddtoblock %}
<div>

</div>


<div class="container-hydrolearn-module-list-plugin">
      <div class="wrapper-publication-set">
      {% for module in instance.modules %}
          {% include "single_hydrolearn_module.html" with module=module %}
      {% endfor %}
      </div>
</div>