{% load sekizai_tags %}
{% addtoblock "js" %}
<script type="text/javascript">


  document.addEventListener('DOMContentLoaded', function () {
    const helpIcon = document.getElementById('helpicon-{{ instance.unique_identifier }}');
    const spanElement = document.getElementById('span-{{ instance.unique_identifier }}');
    const truncatedElement = document.getElementById('truncate-{{ instance.unique_identifier }}');

    helpIcon.addEventListener('click', function () {
        truncatedElement.classList.add('truncated');
      });
  
    spanElement.addEventListener('click', function () {
        truncatedElement.classList.remove('truncated');
    });
  });
  //<p class="card-text d-inline-block text-truncate my-2 fs-8 lh-1.5 fw-light" style="max-width:300px;">{{ instance.description }}</p>
  //for the js thing
  //https://jsfiddle.net/my8jpn01/19/
</script>
{% endaddtoblock %}
{% addtoblock "css" %}
<style>
  :root {
    --image-width: {{ instance.width }}px;
    --image-height: {{ instance.height }}px;
  }

  .truncate {
    position: relative;
    max-width:90%;
    width: 80%;
    /* need automatic multi-line height */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    word-wrap: break-word;
    padding-right: 20px;
  }
  .truncate.truncated {
      white-space: initial;
      width: 100%;
      text-align: initial;
  }
  .truncate.truncated .helpicon{
    display: none;
  }
  
  .helpicon {
    right: 0;
    top:0;
    position: absolute;
  }

  .img-tile{
    object-fit: cover;
    width: var(--image-width); 
    height: var(--image-height);
    max-height: var(--image-height);
    max-width:  var(--image-width);
  }

  .aspect-ratio-box{
    display: flex;
    justify-content: center;
    height: var(--image-height);
    width:  var(--image-width);
  }
  .a-tag-img{
    width: fit-content;
  }

</style>
{% endaddtoblock %}
<div class="card border-light mb-3 w-100 card-height" >
    <div class="row g-0">
   
        <div class="aspect-ratio-box col-md-3" >
          {% if instance.web_site_url  %} 
            <a href="{{ instance.web_site_url }}" class="a-tag-img">
              <img src="{{ instance.image }}" class="img-tile" alt="...">
            </a>
          {% else %}
            <a href='javascript:void(0)' class='a-tag-img portfolio-link'>
              <img src="{{ instance.image }}" class="img-tile" alt="...">
            </a>
          {% endif %}
        </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title card-h5">{{ instance.title }}</h5>
          <div style="width:fit-content;">
            <p class="card-text my-2 fs-6 lh-1.5 fw-light d-flex flex-row justify-content-between w-100 gap-3 "  style="max-width:300px;">
              {% if instance.github_url %}
                <a href="{{ instance.github_url }}" class="text-decoration-none text-secondary" title="github"> <i class="bi bi-github"></i></a>
              {% endif %}
              {% if instance.web_site_url %}
                <a href="{{ instance.web_site_url }}" class="text-decoration-none text-secondary" title="web page"> <i class="bi bi-journals"></i></a>
              {% endif %}
              {% if instance.documentation_url %}
                <a href="{{ instance.documentation_url }}" class="text-decoration-none text-secondary" title="documentation"> <i class="bi bi-arrow-up-right-square"></i></a>
              {% endif %}
            </p>
          </div>
          <p class="card-subtitle mb-2 text-muted fst-italic">{{ instance.subtitle }}</p>
          <div class="d-flex flex-column">
            <div>
              <p id="truncate-{{ instance.unique_identifier }}" class="card-text truncate">
                {{ instance.description }}
                <span id="helpicon-{{ instance.unique_identifier }}" class="helpicon text-decoration-none text-secondary" href="#">
                  <i class="bi bi-chevron-compact-down"></i>
                </span>
                <span id="span-{{ instance.unique_identifier }}"><i class="bi bi-chevron-compact-up"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>