{% load cms_tags sekizai_tags %}

{% addtoblock "css" %}
<style>
  :root {
    --image-width: 200px;
    --image-height: 200px;
  }

  .img-tile{
    object-fit: cover;
  }

  .name{
    width: 80%;

    text-overflow: ellipsis;
    margin-bottom: 12px;
    cursor: pointer;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
}
.name:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;  /* just added this line */
}



</style>
{% endaddtoblock %}
<div>

</div>


<div class="container-hydroshare-resource-list-plugin">
    {% for key, values in instance.resources.items %}
    <div class="wrapper-publication-set">    
            {% for resource in values %}
                {% include "single_hs_resource.html" with resource=resource %}
            {% endfor %}
        
    </div>
    {% endfor %}
</div>