{% load cms_tags sekizai_tags %}

{% addtoblock "js" %}


{% endaddtoblock %}

    <div class="hydroshare_resource card mb-3 w-100 card-height" >
        <div class="row g-0">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center  align-items-center" >
            {% if resource.web_site_url  %} 
                <!-- <a href="{{ resource.web_site_url }}">
                    <img src="{{ resource.image }}" class="img-tile img-fluid rounded-start" alt="..."  style="width:200px; height:200px;">
                </a> -->

                <header class="course-image">
                    <div class="cover-image">
                        <a href="{{ resource.web_site_url }}">
                            <img src="{{ resource.image }}" class="img-tile img-fluid rounded-start" alt="..."  style="width:200px; height:200px;">
                        </a>    
                      <div class="learn-more" aria-hidden="true">
                        {% if resource.resource_type == 'ToolResource' %}
                            <a href="{{ resource.web_site_url }}">Open Application</a>
                        {% else %}
                            <a href="{{ resource.web_site_url }}">Open Resource</a>
                        {% endif %}

                     </div>
                    
                    </div>
                </header>


            {% else %}
                <a href='javascript:void(0)' class='portfolio-link'>
                <img src="{{ resource.image }}" class="img-tile img-fluid rounded-start h-100" alt="..." style="width:200px; height:200px;">
                </a>
            {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-md-8 col-lg-8 border-light ">
                <div class="card-body h-100">
                    <div class="d-flex align-items-baseline gap-2 justify-content-center justify-content-lg-start justify-content-md-start">
                        <h5 class="card-title card-h5">{{ resource.title }}</h5>
                        <div style="width:fit-content;">
                            <p class="card-text my-2 fs-6 lh-1.5 fw-light d-flex flex-row justify-content-between w-100 gap-3 rounded p-1"  style="max-width:300px;">
                                {% if resource.github_url %}
                                <a href="{{ resource.github_url }}" target="_blank" class="text-decoration-none text-secondary" title="Source Code"> <i class="bi bi-github"></i></a>
                                {% endif %}
                                {% if resource.web_site_url %}
                                <a href="{{ resource.web_site_url }}" target="_blank" class="text-decoration-none text-secondary" title="Web page"> <i class="bi bi-arrow-up-right-square"></i> </a>
                                {% endif %}
                                {% if resource.documentation_url %}
                                <a href="{{ resource.documentation_url }}" target="_blank" class="text-decoration-none text-secondary" title="Documentation"> <i class="bi bi-journals"></i> </a>
                                {% endif %}
                                <a href="{{ resource.resource_url }}" target="_blank" class="text-decoration-none text-secondary" style="font-size: 0.80rem !important;" title="Open HydroShare Resource"> <span class="badge text-bg-secondary">HydroShare</span></a>
                            </p>
                        </div>
                    </div>

                    <p class="card-subtitle mb-2 text-muted fst-italic">{{ resource.subtitle }}</p>
                    <div class="d-flex flex-column justify-content-center justify-content-lg-start justify-content-md-start text-center text-lg-start text-md-start h-100">
                        <p class="name w-100 mb-3 overflow-auto">
                            {{ resource.abstract }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
        
