{% load sekizai_tags %}
{% load cms_tags %}

{% addtoblock "js" %}
<script type="text/javascript">

</script>
{% endaddtoblock %}
{% addtoblock "css" %}
<style>
    .csl-entry {
        word-wrap: break-word;
        margin: 0 !important;
    }
    .csl-entry,
    .csl-entry * {
        box-sizing: content-box;
    }
    .csl-bib-body{
        line-height: 2; 
        padding-left: 1em; 
        text-indent:-1em;
    }
    .wrapper-publication-set{
    }
    .year-style{
        padding-top: 1rem;
    }
</style>
{% endaddtoblock %}
<div>
    {% for key, values in instance.html.items %}
    <div class="wrapper-publication-set">
        <h2 class="year-style">{{ key }}</h2>
        <ul>
            {% for citation in values %}
            <li>
                {{ citation | safe }}

            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
