@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

/* Apply the fonts to your elements */
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Ubuntu', sans-serif;
}
#header-navbar{
    background-color: white;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #1c1e21;
}
.ciroh-logo-name-header{
    display: flex;
    align-items: center;
}


.flex-logos-header{
    display: flex;
}
.flex-logos-header img{    
    height: 45px;
}
.text-ciroh{
    text-wrap: wrap;
    width: 55%;
    display: block;
    text-align: center;
    font-size: 16px;
    color: #1c1e21;
    font-weight: 500;
    padding-left: 5px;
    text-rendering: optimizelegibility;
    font: 100% 1.65 'Roboto', sans-serif;
}
.hero-heading {
    margin-bottom: 30px;
    color: white;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.hero-subheading {
    margin-bottom: 40px;
    color: white;
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.hero-subheading-dark {
    margin-bottom: 40px;
    color: white;
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}


.section-heading {
    color: rgb(103, 103, 112);
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 16px;
}


.section-subheading {
    color: #1c1e21;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 5px;
}
.white-box {
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(220, 235, 247);
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

.card-h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1c1e21;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.card-p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}
.card-h5 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #1c1e21;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.white-box-transparent {
    padding: 15px;
    border-width: 1px;
    border-color: rgb(220, 235, 247);
    border-radius: 5px;
    text-align: center;
    border-style: none;
    background-color: transparent;
}

.section-heading-white {
    color: white;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 16px;
}
.section-subheading-white {
    color: white;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}



.card-h3-white {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.card-p-white {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}

.card-h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #1c1e21;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
}
.card-p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}




/* .site-header .navbar {
    border-radius: 40px;
    transition: all .2s ease-in-out;
} */
.site-header .navbar.fixed-top {
    border-radius: 0;
    margin: 0 !important;
}


.site-footer {
    background-color: #303846;
    color: #ebedf0;
    padding:calc(1rem*2) calc(1rem*2);
    z-index: 100;
}


.footer__copyright{
    text-align: center;

}

.site-footer a {
    /* font-size: 20px; */
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

.footer__title{
    color: #fff;
    font: 700 1rem/1.25 'Roboto', sans-serif;
    margin-bottom: 1rem;
}
.footer__link-item {
    color: #ebedf0;
    line-height: 2;
}
.clean-list{
    list-style: none;
    padding-left:0;
}
.footer__copyright p{
    margin-bottom: 0;
}
.small-text-footer{
    font-size: 12px;
}
.nav-link{
    color:#1c1e21;
    font-weight: 500;
}
.nav-link.active:hover {
    color: #19a7ce;
    text-decoration: none;
}
.nav-link:hover {
    color: #19a7ce;
    text-decoration: none;
}

